<!doctype html>
<html lang="en">
  <head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"></head>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<!-- 
    <title>Hello, world!</title> -->
  </head>
  
  <style>
 body{ 
    color: rgb(12, 12, 12); 
    font-size:18px; 
    background-color: #e5f0fc; 
    font-family:sans-serif;
    margin: 25px 25px 25px 25px;
    padding:6px;
  } 
  select {
  font-size: 24px;
  font-family:script;
  background-color: #e2e2e4;
  text-align-last:center;
  display: block;
 margin: 0 auto; 
  /* font-weight: bolder; */
  }
  input[type=checkbox]  {
  color: #ccc;
  font-style: italic;
  font-size: 110%;
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 50px;
  margin:5px;
} 
input[type=checkbox]:checked + label {
  color: #400;
  font-style: normal;
  font-size: 24px;
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 20px;
} 
.checkboxtext
{
  /* Checkbox text */
  font-size: 24px;
  display: inline;
}
input[type="text"]
{
    font-size:24px;
    display: block;
 margin: 0 auto; 
}
#rr-element {
    white-space: nowrap;
}

#rr-element label {
   padding-left: 0.4em;
}
input[type=submit] {
    width: 20em;  height: 3em;
    display: block;
 margin: 0 auto; 
}
  </style>
  <div class="col-sm-10 offset-sm-2"> 
    <body>
        <p>This app will help you see what employees say about your company. It searches keywords in a database consisting of two thousand reviews per company, then lets you visualize how your company is doing with respect to those keywords and other companies.<p>
        
        <form autocomplete="off" action="largeplot" method="GET">
           
          <h3>

            <label for="company">Type in the company you would like to explore :</label></h3>
  
            
              <div class="col-sm-10 offset-sm-2">
            <div class="autocomplete" style="width:00px;"> 
              
            <input id="myInput"  type="text" name="company" placeholder="company" >
            </div>
              </div>
           
            

           

<script> 
document.getElementById("myInput").setAttribute('size', '20');
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/
var countries = ['3M',
 'AECOM',
 'AT&T',
 'AbbVie',
 'Abbott Laboratories',
 'Aflac',
 'Albertsons',
 'Allstate',
 'Alphabet',
 'Altria Group',
 'Amazon',
 'American Airlines Group',
 'American Express',
 'American International Group',
 'AmerisourceBergen',
 'Amgen',
 'Anthem',
 'Apple',
 'Archer Daniels Midland',
 'Arrow Electronics',
 'AutoNation',
 'Avnet',
 'BD',
 'Baker Hughes',
 'Bank of America',
 'Bank of New York Mellon',
 'Berkshire Hathaway',
 'Best Buy',
 'Boeing',
 'Bristol Myers Squibb',
 'Broadcom',
 'CBRE Group',
 'CDW',
 'CVS Health',
 'Capital One Financial',
 'CarMax',
 'Cardinal Health',
 'Caterpillar',
 'Centene',
 'Charter Communications',
 'Chevron',
 'Cigna',
 'Cisco Systems',
 'Coca Cola',
 'Comcast',
 'ConocoPhillips',
 'Costco Wholesale',
 'Cummins',
 'D.R. Horton',
 'DXC Technology',
 'Danaher',
 'Dell Technologies',
 'Delta Air Lines',
 'Dollar General',
 'Dollar Tree',
 'Dow',
 'DuPont',
 'Duke Energy',
 'EOG Resources',
 'Eli Lilly',
 'Emerson Electric',
 'Energy Transfer',
 'Enterprise Products Partners',
 'Exelon',
 'Exxon Mobil',
 'Fannie Mae',
 'FedEx',
 'Ford Motor',
 'Freddie Mac',
 'General Dynamics',
 'General Electric',
 'General Motors',
 'Genuine Parts',
 'Gilead Sciences',
 'Goldman Sachs Group',
 'HCA Healthcare',
 'HP',
 'Halliburton',
 'Hartford Financial Services Group',
 'Hewlett Packard Enterprise',
 'HollyFrontier',
 'Home Depot',
 'Honeywell International',
 'Humana',
 'IBM',
 'Intel',
 'International Paper',
 'JPMorgan Chase',
 'Jabil',
 'Johnson & Johnson',
 'Kimberly Clark',
 "Kohl's",
 'Kraft Heinz',
 'Kroger',
 'Lear',
 'Lennar',
 'Liberty Mutual Insurance Group',
 'Lockheed Martin',
 "Lowe's",
 'Lumen Technologies',
 "Macy's",
 'ManpowerGroup',
 'Marathon Petroleum',
 'Marriott International',
 'Massachusetts Mutual Life',
 "McDonald's",
 'McKesson',
 'Merck',
 'MetLife',
 'Micron Technology',
 'Microsoft',
 'Mondelez International',
 'Morgan Stanley',
 'NGL Energy Partners',
 'Nationwide',
 'Netflix',
 'New York Life Insurance',
 'NextEra Energy',
 'Nike',
 'Northrop Grumman',
 'Northwestern Mutual',
 'Nucor',
 'Occidental Petroleum',
 'Oracle',
 'PBF Energy',
 'PNC Financial Services Group',
 'Paccar',
 'PayPal Holdings',
 'Penske Automotive Group',
 'PepsiCo',
 'Performance Food Group',
 'Pfizer',
 'Philip Morris International',
 'Phillips 66',
 'Plains GP Holdings',
 'Procter & Gamble',
 'Progressive',
 'Prudential Financial (U.S.)',
 'Publix Super Markets',
 'Qualcomm',
 'Raytheon',
 'Raytheon Technologies',
 'Rite Aid',
 'Sherwin Williams',
 'Southern Company',
 'Southwest Airlines',
 'Starbucks',
 'State Farm Insurance',
 'StoneX Group',
 'Synchrony Financial',
 'Synnex',
 'Sysco',
 'TJX',
 'Target',
 'Tech Data',
 'Tenet Healthcare',
 'Tenneco',
 'Tesla',
 'Thermo Fisher Scientific',
 'Travelers Cos.',
 'Tyson Foods',
 'U.S. Bancorp',
 'UPS',
 'US Foods Holding',
 'USAA',
 'Union Pacific',
 'United Airlines Holdings',
 'United Natural Foods',
 'UnitedHealth Group',
 'Valero Energy',
 'Verizon Communications',
 'ViacomCBS',
 'Visa',
 'Walgreens Boots Alliance',
 'Walmart',
 'Walt Disney',
 'Wells Fargo',
 'WestRock',
 'Whirlpool',
 'World Fuel Services',
 'google'];
// ['AT&T',
//  'Albertsons',
//  'Amazon',
//  'American Express',
//  'AmerisourceBergen',
//  'Anthem',
//  'Apple',
//  'Archer Daniels Midland',
//  'Bank of America',
//  'Berkshire Hathaway',
//  'Boeing',
//  'CVS Health',
//  'Cardinal Health',
//  'Caterpillar',
//  'Centene',
//  'Chevron',
//  'Cigna',
//  'Cisco Systems',
//  'Comcast',
//  'Costco Wholesale',
//  'Dell Technologies',
//  'Dow',
//  'Energy Transfer',
//  'Exxon Mobil',
//  'Fannie Mae',
//  'FedEx',
//  'Ford Motor',
//  'Freddie Mac',
//  'General Dynamics',
//  'General Electric',
//  'General Motors',
//  'Goldman Sachs Group',
//  'HP',
//  'Hewlett Packard Enterprise',
//  'Home Depot',
//  'Humana',
//  'IBM',
//  'Intel',
//  'JPMorgan Chase',
//  'Johnson & Johnson',
//  'Kroger',
//  'Lockheed Martin',
//  "Lowe's",
//  'Marathon Petroleum',
//  'McKesson',
//  'MetLife',
//  'Microsoft',
//  'Morgan Stanley',
//  'Nike',
//  'Oracle',
//  'PepsiCo',
//  'Pfizer',
//  'Phillips 66',
//  'Procter & Gamble',
//  'Progressive',
//  'Prudential Financial (U.S.)',
//  'Publix Super Markets',
//  'Raytheon Technologies',
//  'State Farm Insurance',
//  'Sysco',
//  'Target',
//  'Tyson Foods',
//  'UPS',
//  'UnitedHealth Group',
//  'Valero Energy',
//  'Verizon Communications',
//  'Walgreens Boots Alliance',
//  'Walmart',
//  'Walt Disney',
//  'Wells Fargo',
//  'google'];



// ['Walmart',
//  'Amazon',
//  'Exxon Mobil',
//  'Apple',
//  'CVS Health',
//  'Berkshire Hathaway',
//  'UnitedHealth Group',
//  'McKesson',
//  'AT&T',
//  'AmerisourceBergen',
//  'Alphabet',
//  'Ford Motor',
//  'Cigna',
//  'Costco Wholesale',
//  'Chevron',
//  'Cardinal Health',
//  'JPMorgan Chase',
//  'General Motors',
//  'Walgreens Boots Alliance',
//  'Verizon Communications',
//  'Microsoft',
//  'Marathon Petroleum',
//  'Kroger',
//  'Fannie Mae',
//  'Bank of America',
//  'Home Depot',
//  'Phillips 66',
//  'Comcast',
//  'Anthem',
//  'Wells Fargo',
//  'Valero Energy',
//  'General Electric',
//  'Dell Technologies',
//  'Johnson & Johnson',
//  'State Farm Insurance',
//  'Target',
//  'IBM',
//  'Raytheon Technologies',
//  'Boeing',
//  'Freddie Mac',
//  'Centene',
//  'UPS',
//  "Lowe's",
//  'Intel',
//  'FedEx',
//  'MetLife',
//  'Walt Disney',
//  'Procter & Gamble',
//  'PepsiCo',
//  'Humana',
//  'Prudential Financial (U.S.)',
//  'Archer Daniels Midland',
//  'Albertsons',
//  'Sysco',
//  'Lockheed Martin',
//  'HP',
//  'Energy Transfer',
//  'Goldman Sachs Group',
//  'Morgan Stanley',
//  'Caterpillar',
//  'Cisco Systems',
//  'Pfizer',
//  'HCA Healthcare',
//  'American International Group',
//  'American Express',
//  'Delta Air Lines',
//  'Merck',
//  'American Airlines Group',
//  'Charter Communications',
//  'Allstate',
//  'New York Life Insurance',
//  'Nationwide',
//  'Best Buy',
//  'United Airlines Holdings',
//  'Liberty Mutual Insurance Group',
//  'Dow',
//  'Tyson Foods',
//  'TJX',
//  'TIAA',
//  'Oracle',
//  'General Dynamics',
//  'Deere',
//  'Nike',
//  'Progressive',
//  'Publix Super Markets',
//  'Coca-Cola',
//  'Massachusetts Mutual Life',
//  'Tech Data',
//  'World Fuel Services',
//  'Honeywell International',
//  'ConocoPhillips',
//  'USAA',
//  'Exelon',
//  'Northrop Grumman',
//  'Capital One Financial',
//  'Plains GP Holdings',
//  'AbbVie',
//  'StoneX Group',
//  'Enterprise Products Partners',
//  'Northwestern Mutual',
//  '3M',
//  'Abbott Laboratories',
//  'CHS',
//  'Travelers Cos.',
//  'Philip Morris International',
//  'Raytheon',
//  'Hewlett Packard Enterprise',
//  'Arrow Electronics',
//  'ViacomCBS',
//  'Dollar General',
//  'U.S. Bancorp',
//  'Starbucks',
//  'Bristol-Myers Squibb',
//  'US Foods Holding',
//  'Mondelez International',
//  'Paccar',
//  'Thermo Fisher Scientific',
//  "Macy's",
//  'Jabil',
//  'Kraft Heinz',
//  'Duke Energy',
//  'Tesla',
//  'PBF Energy',
//  'Qualcomm',
//  'NGL Energy Partners',
//  'CBRE Group',
//  'Baker Hughes',
//  'Synnex',
//  'Dollar Tree',
//  'Cummins',
//  'United Natural Foods',
//  'Micron Technology',
//  'Amgen',
//  'Penske Automotive Group',
//  'Visa',
//  'Broadcom',
//  'Nucor',
//  'Gilead Sciences',
//  'Southwest Airlines',
//  'Halliburton',
//  'Lumen Technologies',
//  'International Paper',
//  'Eli Lilly',
//  'Aflac',
//  'Lennar',
//  'Occidental Petroleum',
//  'Union Pacific',
//  'Rite Aid',
//  'PNC Financial Services Group',
//  'DuPont',
//  'Southern Company',
//  'AutoNation',
//  'DXC Technology',
//  "McDonald's",
//  'Marriott International',
//  'ManpowerGroup',
//  'Bank of New York Mellon',
//  'Hartford Financial Services Group',
//  'Danaher',
//  'Whirlpool',
//  'AECOM',
//  'Netflix',
//  "Kohl's",
//  'Lear',
//  'Altria Group',
//  'Performance Food Group',
//  'Avnet',
//  'Synchrony Financial',
//  'Genuine Parts',
//  'NextEra Energy',
//  'CarMax',
//  'Tenet Healthcare',
//  'Kimberly-Clark',
//  'Emerson Electric',
//  'WestRock',
//  'CDW',
//  'Jones Lang LaSalle (JLL)',
//  'Sherwin-Williams',
//  'Fluor',
//  'PayPal Holdings',
//  'D.R. Horton',
//  'HollyFrontier',
//  'Tenneco',
//  'EOG Resources',
//  'BD',
//  'Lincoln National',
//  'Salesforce',
//  'Mastercard',
//  'General Mills',
//  'Molina Healthcare',
//  'Cognizant Technology Solutions',
//  'Marsh & McLennan',
//  'XPO Logistics',
//  'Dominion Energy',
//  'Western Digital',
//  'Gap',
//  'Aramark',
//  'Principal Financial',
//  'Ross Stores',
//  'Colgate-Palmolive',
//  'American Electric Power',
//  'Nordstrom',
//  'Jacobs Engineering Group',
//  'Waste Management',
//  'C.H. Robinson Worldwide',
//  'PPG Industries',
//  'Booking Holdings',
//  'Omnicom Group',
//  'Loews',
//  'Ecolab',
//  'Stryker',
//  'Estée Lauder',
//  'Goodyear Tire & Rubber',
//  'Truist Financial',
//  'Applied Materials',
//  'BlackRock',
//  'Stanley Black & Decker',
//  'Freeport-McMoRan',
//  'Texas Instruments',
//  'Biogen',
//  'Parker-Hannifin',
//  'Reinsurance Group of America',
//  'Howmet Aerospace',
//  'Automatic Data Processing',
//  'Uber Technologies',
//  'Illinois Tool Works',
//  'DaVita',
//  'Discover Financial Services',
//  "Land O'Lakes",
//  'VF',
//  'Corteva',
//  'Las Vegas Sands',
//  'Textron',
//  'Kellogg',
//  'Guardian Life Ins. Co. of America',
//  'Qurate Retail',
//  'Core-Mark Holding',
//  'Community Health Systems',
//  'Kinder Morgan',
//  "BJ's Wholesale Club",
//  'State Street',
//  'Ameriprise Financial',
//  'Global Partners',
//  'L Brands',
//  'MGM Resorts International',
//  'L3Harris Technologies',
//  'DISH Network',
//  'Lithia Motors',
//  'DTE Energy',
//  'American Family Insurance Group',
//  'Farmers Insurance Exchange',
//  'Consolidated Edison',
//  'LKQ',
//  'Sempra Energy',
//  'Edison International',
//  'CenterPoint Energy',
//  'Quanta Services',
//  'Murphy USA',
//  'Expedia Group',
//  'Group 1 Automotive',
//  'Bed Bath & Beyond',
//  'Unum Group',
//  'CSX',
//  'AutoZone',
//  'Pacific Life',
//  'Vistra Energy',
//  'Charles Schwab',
//  'Ally Financial',
//  'Laboratory Corp. of America',
//  'Live Nation Entertainment',
//  'Xcel Energy',
//  'Corning',
//  'W.W. Grainger',
//  'Ball',
//  'Fox',
//  'Universal Health Services',
//  'Baxter International',
//  'Norfolk Southern',
//  'Navistar International',
//  'Adobe',
//  'J.C. Penney',
//  'Discovery',
//  'Keurig Dr Pepper',
//  'Leidos Holdings',
//  'IQVIA Holdings',
//  'Reliance Steel & Aluminum',
//  'Nvidia',
//  'Entergy',
//  'FirstEnergy',
//  'eBay',
//  'Boston Scientific',
//  'ODP',
//  'Molson Coors Beverage',
//  'Steel Dynamics',
//  'Mutual of Omaha Insurance',
//  'Sonic Automotive',
//  'Alcoa',
//  'Fidelity National Information Services',
//  'Henry Schein',
//  'Republic Services',
//  'Liberty Media',
//  "Peter Kiewit Sons'",
//  'Interpublic Group',
//  'PulteGroup',
//  'AES',
//  'Fiserv',
//  'BorgWarner',
//  'Oneok',
//  "O'Reilly Automotive",
//  'Assurant',
//  'Newell Brands',
//  'Public Service Enterprise Group',
//  'News Corp.',
//  'Calpine',
//  'Auto-Owners Insurance',
//  'Mohawk Industries',
//  'PVH',
//  'Campbell Soup',
//  'NRG Energy',
//  'Fifth Third Bancorp',
//  'Hertz Global Holdings',
//  'Altice USA',
//  'Newmont',
//  'Cheniere Energy',
//  'Advance Auto Parts',
//  'Lam Research',
//  'Owens & Minor',
//  'Equitable Holdings',
//  'Conagra Brands',
//  'Markel',
//  'Jones Financial (Edward Jones)',
//  'Hormel Foods',
//  'Hilton Worldwide Holdings',
//  'Univar Solutions',
//  'United Rentals',
//  'Pioneer Natural Resources',
//  'Delek US Holdings',
//  'Eastman Chemical',
//  'EMCOR Group',
//  'Avis Budget Group',
//  'J.B. Hunt Transport Services',
//  'Xerox Holdings',
//  'Wayfair',
//  'KKR',
//  'AGCO',
//  'Alleghany',
//  'Icahn Enterprises',
//  'Voya Financial',
//  'Ryder System',
//  'Air Products & Chemicals',
//  'Mosaic',
//  'Huntington Ingalls Industries',
//  'Berry Global Group',
//  'Anixter International',
//  'Alaska Air Group',
//  'Yum China Holdings',
//  "Dick's Sporting Goods",
//  'Caesars Holdings',
//  'Genworth Financial',
//  'Targa Resources',
//  'Coty',
//  'Dana',
//  'Thrivent Financial for Lutherans',
//  'Autoliv',
//  'SpartanNash',
//  'Eversource Energy',
//  'Darden Restaurants',
//  'Chesapeake Energy',
//  'NOV',
//  'Fidelity National Financial',
//  'Erie Insurance Group',
//  'Oshkosh',
//  "Casey's General Stores",
//  'WESCO International',
//  'Tractor Supply',
//  'CommScope Holding',
//  'Huntsman',
//  'American Financial Group',
//  'Masco',
//  'Sanmina',
//  'Amphenol',
//  'Williams',
//  'Westinghouse Air Brake',
//  'Expeditors Intl. of Washington',
//  'Andersons',
//  'Westlake Chemical',
//  'Constellation Brands',
//  'Frontier Communications',
//  'JetBlue Airways',
//  'Citizens Financial Group',
//  'Raymond James Financial',
//  'Foot Locker',
//  'Hershey',
//  'Zimmer Biomet Holdings',
//  'Cincinnati Financial',
//  'Western & Southern Financial Group',
//  'W.R. Berkley',
//  'Motorola Solutions',
//  'Thor Industries',
//  'Regeneron Pharmaceuticals',
//  'Spirit AeroSystems Holdings',
//  'J.M. Smucker',
//  'PPL',
//  'Insight Enterprises',
//  'Quest Diagnostics',
//  'KeyCorp',
//  'Veritiv',
//  'DCP Midstream',
//  'American Tower',
//  'Graybar Electric',
//  'WEC Energy Group',
//  'NVR',
//  'Ulta Beauty',
//  'Devon Energy',
//  'Blackstone Group',
//  'Dean Foods',
//  'Fortive',
//  'Burlington Stores',
//  'Builders FirstSource',
//  'Toll Brothers',
//  'Old Republic International',
//  'Asbury Automotive Group',
//  'Arthur J. Gallagher',
//  'MasTec',
//  'Owens Corning',
//  'Magellan Health',
//  'Dover',
//  'Beacon Roofing Supply',
//  'Avery Dennison',
//  'Hanesbrands',
//  'Packaging Corp. of America',
//  'M&T Bank',
//  'NCR',
//  'Northern Trust',
//  'Cintas',
//  'Polaris',
//  'CMS Energy',
//  'Seaboard',
//  'Intuit',
//  'Regions Financial',
//  'FM Global',
//  'Advanced Micro Devices (AMD)',
//  'Ovintiv',
//  'Booz Allen Hamilton Holding',
//  'S&P Global',
//  'Rockwell Automation',
//  'O-I Glass',
//  'Wynn Resorts',
//  'Securian Financial Group',
//  'Alliance Data Systems',
//  'Weyerhaeuser',
//  'Brighthouse Financial',
//  'Intercontinental Exchange',
//  'American Axle & Manufacturing',
//  'Hess',
//  'ABM Industries',
//  'Activision Blizzard',
//  'GameStop',
//  'Apache',
//  'Science Applications International',
//  'AK Steel Holding',
//  "Dillard's",
//  'Ralph Lauren',
//  'Celanese',
//  'R.R. Donnelley & Sons',
//  'Zoetis',
//  'Ascena Retail Group',
//  'Clorox',
//  'Ingredion',
//  'First American Financial',
//  'Graphic Packaging Holding',
//  'NetApp',
//  'HD Supply Holdings',
//  'TravelCenters of America',
//  'Olin',
//  'Robert Half International',
//  'EnLink Midstream',
//  'Avantor',
//  'Tapestry',
//  'TD Ameritrade Holding',
//  'Analog Devices',
//  'Ameren',
//  'Williams-Sonoma',
//  'Realogy Holdings',
//  'Commercial Metals',
//  'Rush Enterprises',
//  'Franklin Resources',
//  'Fortune Brands Home & Security',
//  'Levi Strauss',
//  'Crown Castle International',
//  'Simon Property Group',
//  'Cerner',
//  'Post Holdings',
//  'Huntington Bancshares',
//  'KBR',
//  'Sprouts Farmers Market',
//  'LPL Financial Holdings',
//  'T. Rowe Price',
//  'Yum Brands',
//  'Chipotle Mexican Grill',
//  'Patterson',
//  'RPM International',
//  'Equinix',
//  'Navient',
//  'Chemours',
//  'ON Semiconductor',
//  'TransDigm Group',
//  'Host Hotels & Resorts',
//  'Select Medical Holdings',
//  'Par Pacific Holdings',
//  'Sonoco Products',
//  'Roper Technologies',
//  'Harley-Davidson',
//  'Jefferies Financial Group',
//  'Kelly Services',
//  'Microchip Technology',
//  'McCormick',
//  'MDU Resources Group',
//  'Fastenal',
//  'Big Lots',
//  'Penn National Gaming',
//  'Western Union',
//  'Under Armour',
//  'Xylem',
//  'Skechers U.S.A.',
//  'Domtar',
//  'NiSource',
//  'Marathon Oil',
//  'National General Holdings',
//  'Telephone & Data Systems',
//  'Agilent Technologies',
//  'Ametek',
//  'Evergy',
//  'International Flavors & Fragrances',
//  'ADT',
//  'Welltower',
//  'Windstream Holdings',
//  'Michaels',
//  'Kemper',
//  'Hyatt Hotels',
//  'Alexion Pharmaceuticals',
//  'Resideo Technologies',
//  'CACI International',
//  'Electronic Arts',
//  'Vulcan Materials',
//  'TreeHouse Foods',
//  'Global Payments',
//  'Hanover Insurance Group',
//  'Camping World Holdings',
//  'Cornerstone Building Brands',
//  'YRC Worldwide',
//  'CME Group',
//  'Chewy',
//  'Knight-Swift Transportation Holdings',
//  "Moody's",
//  'Coca-Cola Consolidated',
//  'Carlisle',
//  'Sealed Air',
//  'A-Mark Precious Metals',
//  'Watsco',
//  'Taylor Morrison Home',
//  'IAC/InterActiveCorp',
//  'Leggett & Platt',
//  'OneMain Holdings',
//  'Schneider National',
//  'Martin Marietta Materials',
//  'NortonLifeLock',
//  'Hasbro',
//  'Square',
//  'Terex',
//  'Syneos Health',
//  'FMC',
//  'Boise Cascade',
//  'Continental Resources',
//  'Peabody Energy',
//  'Encompass Health',
//  'Greif',
//  'Concho Resources',
//  'Hubbell',
//  'CF Industries Holdings',
//  'KLA',
//  'Genesis Healthcare',
//  'Brunswick',
//  'KB Home',
//  'Globe Life',
//  'Mattel',
//  'Ryerson Holding',
//  'Silgan Holdings',
//  'Zebra Technologies',
//  'Intuitive Surgical',
//  'Warner Music Group',
//  'Conduent',
//  'Juniper Networks',
//  'Noble Energy',
//  'Vertiv Holdings',
//  'Tiffany',
//  'EQT',
//  'UFP Industries',
//  'Diebold Nixdorf',
//  'Antero Resources',
//  'Meritor',
//  'Broadridge Financial Solutions',
//  'Church & Dwight',
//  'Marriott Vacations Worldwide',
//  'Edwards Lifesciences',
//  'Colfax',
//  'Insperity',
//  'American Eagle Outfitters',
//  'Keysight Technologies',
//  'JELD-WEN Holding',
//  'Iron Mountain',
//  'Nasdaq',
//  'Gartner',
//  'Sinclair Broadcast Group',
//  'Ingles Markets',
//  'Monster Beverage',
//  'Murphy Oil',
//  'Vertex Pharmaceuticals',
//  'First Republic Bank',
//  "Bloomin' Brands",
//  'Spectrum Brands Holdings',
//  'Quad/Graphics',
//  'Flowers Foods',
//  'CUNA Mutual Group',
//  'Allegheny Technologies',
//  'Old Dominion Freight Line',
//  'Landstar System',
//  'American National Group',
//  'Snap-on',
//  'Brookdale Senior Living',
//  'Amkor Technology',
//  'Wyndham Destinations',
//  'PPD',
//  'Dentsply Sirona',
//  'CNO Financial Group',
//  'Urban Outfitters',
//  'Sabre',
//  'Mercury General',
//  'Diamondback Energy',
//  'Parsons',
//  "Aaron's",
//  'Flowserve',
//  'Carvana',
//  'ASGN',
//  'Sally Beauty Holdings',
//  'ScanSource',
//  'Ventas',
//  'Country Financial',
//  'TriNet Group',
//  'Spirit Airlines',
//  'Comerica',
//  'Lennox International',
//  'Timken',
//  'Paychex',
//  'Amerco',
//  'Worthington Industries',
//  'Lamb Weston Holdings',
//  'Laureate Education',
//  'Penn Mutual Life Insurance',
//  'iHeartMedia',
//  "Brink's",
//  'Sentry Insurance Group',
//  'Acuity Brands',
//  'Hub Group',
//  'Meritage Homes',
//  'MRC Global',
//  'Alliant Energy',
//  'Workday',
//  'BMC Stock Holdings',
//  'Abercrombie & Fitch',
//  "Domino's Pizza",
//  'Lyft',
//  'Meredith',
//  'American Water Works',
//  'Albemarle',
//  'Ciena',
//  'Barnes & Noble',
//  'Weis Markets',
//  'Illumina',
//  'SVB Financial Group',
//  "Carter's",
//  'Stifel Financial',
//  'Equifax',
//  'Kar Auction Services',
//  'Ashland Global Holdings',
//  'Medical Mutual of Ohio',
//  'Sprague Resources',
//  'Super Micro Computer',
//  'Designer Brands',
//  'Pitney Bowes',
//  'Applied Industrial Technologies',
//  'Pinnacle West Capital',
//  'American Equity Investment Life Holding',
//  'ServiceNow',
//  'Twitter',
//  'Calumet Specialty Products Partners',
//  'Steelcase',
//  'Sanderson Farms',
//  'WABCO Holdings',
//  'Clean Harbors',
//  'Puget Energy',
//  'Scientific Games',
//  'Granite Construction',
//  'Carlyle Group',
//  'Skyworks Solutions',
//  'Aleris',
//  'Triple-S Management',
//  'Hexion',
//  'Hologic',
//  'Triumph Group',
//  'Darling Ingredients',
//  'MSC Industrial Direct',
//  'Red Hat',
//  'Synopsys',
//  'PolyOne',
//  'Dycom Industries',
//  'Cabot',
//  'Boyd Gaming',
//  'LSC Communications',
//  'Brown-Forman',
//  'Stericycle',
//  'CIT Group',
//  'MDC Holdings',
//  'Hyster-Yale Materials Handling',
//  'Crane',
//  'Cinemark Holdings',
//  'Autodesk',
//  'Trimble',
//  'Garrett Motion',
//  'Zions Bancorp.',
//  'Regal Beloit',
//  'Service Corp. International',
//  'Varian Medical Systems',
//  'PriceSmart',
//  'Brinker International',
//  'Digital Realty Trust',
//  'Pool',
//  'Crestwood Equity Partners',
//  'Infor',
//  'Plexus',
//  'Teledyne Technologies',
//  'G-III Apparel Group',
//  'Scotts Miracle-Gro',
//  'Apollo Global Management',
//  'E*Trade Financial',
//  'Toro',
//  'Southwest Gas Holdings',
//  'GMS',
//  'Cooper-Standard Holdings',
//  'Acadia Healthcare',
//  'Tetra Tech',
//  'Primoris Services',
//  'Tempur Sealy International',
//  'H&R Block',
//  'Qorvo',
//  'TRI Pointe Group',
//  'Cracker Barrel Old Country Store',
//  'Elanco Animal Health',
//  'First Solar',
//  'AMC Networks',
//  'Xilinx',
//  'Green Plains',
//  'Columbia Sportswear',
//  'Nexstar Media Group',
//  'Southwestern Energy',
//  'Greenbrier',
//  'Presidio',
//  'Citrix Systems',
//  'Mettler-Toledo International',
//  'Trinity Industries',
//  'Mutual of America Life Insurance',
//  'Lincoln Electric Holdings',
//  'Tailored Brands',
//  'A.O. Smith',
//  'ArcBest',
//  'GoDaddy',
//  'SkyWest',
//  'Boston Properties',
//  'Enable Midstream Partners',
//  'Middleby',
//  'NOW',
//  'Unisys',
//  'Visteon',
//  'Graham Holdings',
//  'Resolute Forest Products',
//  'Caleres',
//  'AGNC Investment',
//  'Hill-Rom Holdings',
//  'Moog',
//  'Legg Mason',
//  'Atmos Energy',
//  'Woodward',
//  'Palo Alto Networks',
//  'H.B. Fuller',
//  'Akamai Technologies',
//  'Avaya Holdings',
//  'Maximus',
//  'PerkinElmer',
//  'Hawaiian Electric Industries',
//  'Kansas City Southern',
//  'AptarGroup',
//  'Public Storage',
//  'Selective Insurance Group',
//  'ITT',
//  'Donaldson',
//  'Park Hotels & Resorts',
//  'Kirby',
//  'Hawaiian Holdings',
//  'Popular',
//  'Range Resources',
//  'PC Connection',
//  'Amica Mutual Insurance',
//  'EnerSys',
//  'Helmerich & Payne',
//  'NLV Financial',
//  'Valmont Industries',
//  'PAE',
//  'Cooper Tire & Rubber',
//  'Euronet Worldwide',
//  'Zillow Group',
//  'Atlas Air Worldwide Holdings',
//  'Energizer Holdings',
//  'Magellan Midstream Partners',
//  'Hain Celestial Group',
//  'Univision Communications',
//  'Equity Residential',
//  'Allison Transmission Holdings',
//  'Colony Capital',
//  'TTM Technologies',
//  'Clear Channel Outdoor Holdings',
//  'Guess',
//  'Rent-A-Center',
//  'Take-Two Interactive Software',
//  'Vishay Intertechnology',
//  'TransUnion',
//  'Cooper',
//  'FleetCor Technologies',
//  'RH',
//  'Renewable Energy Group',
//  'BlueLinx Holdings',
//  'California Resources',
//  'TopBuild',
//  'Charles River Laboratories International',
//  'Comfort Systems USA',
//  'Verisk Analytics',
//  'ResMed',
//  'Teleflex',
//  'New Jersey Resources',
//  'New Residential Investment',
//  'Interactive Brokers Group',
//  'Zayo Group Holdings',
//  'Herman Miller',
//  'Grocery Outlet Holding',
//  'J.Crew Group',
//  'Century Communities',
//  'Caesars Entertainment',
//  'Catalent',
//  'Itron',
//  'M/I Homes',
//  'Cboe Global Markets',
//  'IDEX',
//  'Belden',
//  'Curtiss-Wright',
//  'Cheesecake Factory',
//  'Genesis Energy',
//  'GEO Group',
//  'Patterson-UTI Energy',
//  'Werner Enterprises',
//  'Ingersoll Rand',
//  'Verso',
//  'Mueller Industries',
//  'Nu Skin Enterprises',
//  'Revlon',
//  'Arista Networks',
//  'IDEXX Laboratories',
//  'Align Technology',
//  'Waters',
//  'Synovus Financial',
//  'BrightView Holdings',
//  'REV Group',
//  'Brown & Brown',
//  'Valvoline',
//  'Knights of Columbus',
//  'Central Garden & Pet',
//  'Carpenter Technology',
//  'SLM',
//  'Kennametal',
//  'LCI Industries',
//  'TrueBlue',
//  'Cimarex Energy',
//  'Splunk',
//  'SiteOne Landscape Supply',
//  'Hexcel',
//  'FTI Consulting',
//  'Party City Holdco',
//  'Ohio National Mutual',
//  'Patrick Industries',
//  'Cadence Design Systems',
//  'CDK Global',
//  'AvalonBay Communities',
//  'Wabash National',
//  'Service Properties Trust',
//  'Maxim Integrated Products',
//  "People's United Financial",
//  'Bio-Rad Laboratories',
//  'Option Care Health',
//  'Louisiana-Pacific',
//  'TEGNA',
//  'Teradyne',
//  'Arch Resources',
//  'EPAM Systems',
//  'WPX Energy',
//  'Contura Energy',
//  'Ensign Group',
//  'First Horizon National',
//  'Wolverine World Wide',
//  'Vail Resorts',
//  'Benchmark Electronics',
//  'HNI',
//  'F5 Networks',
//  'Affiliated Managers Group',
//  'OGE Energy',
//  'Universal',
//  'BOK Financial',
//  'ManTech International',
//  'Summit Materials',
//  'AMN Healthcare Services',
//  'Newmark Group',
//  'Fossil Group',
//  'Modine Manufacturing',
//  'Griffon',
//  'Cypress Semiconductor',
//  'Generac Holdings',
//  'Matson',
//  'Genesco',
//  'Nordson',
//  'NewMarket',
//  'Echo Global Logistics',
//  'Rexnord',
//  'Incyte',
//  'Fortinet',
//  'Foundation Building Materials',
//  'AAR',
//  'Centric Brands',
//  'Edgewell Personal Care',
//  'Federated Mutual Insurance',
//  'Schnitzer Steel Industries',
//  'Portland General Electric',
//  'Gray Television',
//  'BGC Partners',
//  'EchoStar',
//  'Beazer Homes USA',
//  'LHC Group',
//  'ServiceMaster Global Holdings',
//  'Bruker',
//  'CrossAmerica Partners',
//  'MYR Group',
//  'Viasat',
//  'GNC Holdings',
//  'Cabot Oil & Gas',
//  'Bright Horizons Family Solutions',
//  'Vista Outdoor',
//  'HEICO',
//  'Wyndham Hotels & Resorts',
//  'TCF Financial',
//  'Primerica',
//  'ProPetro Holding',
//  'Oceaneering International',
//  'Floor & Decor Holdings',
//  'Copart',
//  "Chico's FAS",
//  'Barnes & Noble Education',
//  'Maxar Technologies',
//  'Evercore',
//  'Deckers Outdoor',
//  'Express',
//  'Hovnanian Enterprises',
//  'Air Lease',
//  'Rollins',
//  'SBA Communications',
//  'Deluxe',
//  'Mr. Cooper Group',
//  'Herc Holdings',
//  'Healthpeak Properties',
//  'SPX FLOW',
//  'Liberty Oilfield Services'];
/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), countries);
</script>
<p> What would be the three most important keywords for you? This is to compare them against other companies in your group:</p>
<div class="col-sm-10 offset-sm-1">         
  <div class="row mb-3">
<select name="keyword1" id="keyword1">
              <option value="balanc">work-life balance</option>
              <option value="free coff">free coffee</option>
              <option value="gym">gym</option>
              <option value="yoga">yoga</option>
              <option value="discount">discounts</option>
              <option value="free lunch">free lunch</option>
              <option value="divers">diversity</option>
              <option value='food'>food</option>
              <option value='perk'>perks</option>
              <option value='rais'>raise</option>
              <option value='vacat'>vacation</option>
              <option value='health'>health insurance</option>
              <option value='ice cream'>ice cream</option>
              <option value='sign bonus'>sign-up bonus</option>
              <option value='stock option'>stock option</option>
              <option value='incent'>incentives</option>
              <option value='student loan pay'>student loan pay off</option>
              <option value='surf'>surf</option>
              <option value='stress'>stress</option>
              <option value='work home'>work from home</option>
              <option value='work environ'>working environment</option>
              <option value='pay'>pay</option>
            </select>
            <select name="keyword2" id="keyword2">
              <option value="balanc">work-life balance</option>
              <option value="free coff">free coffee</option>
              <option value="gym">gym</option>
              <option value="yoga">yoga</option>
              <option value="discount">discounts</option>
              <option value="free lunch">free lunch</option>
              <option value="divers">diversity</option>
              <option value='food'>food</option>
              <option value='perk'>perks</option>
              <option value='rais'>raise</option>
              <option value='vacat'>vacation</option>
              <option value='health'>health insurance</option>
              <option value='ice cream'>ice cream</option>
              <option value='sign bonus'>sign-up bonus</option>
              <option value='stock option'>stock option</option>
              <option value='incent'>incentives</option>
              <option value='student loan pay'>student loan pay off</option>
              <option value='surf'>surf</option>
              <option value='stress'>stress</option>
              <option value='work home'>work from home</option>
              <option value='work environ'>working environment</option>
              <option value='pay'>pay</option>
          </select>
          <select name="keyword3" id="keyword3">
            <option value="balanc">work-life balance</option>
            <option value="free coff">free coffee</option>
            <option value="gym">gym</option>
            <option value="yoga">yoga</option>
            <option value="discount">discounts</option>
            <option value="free lunch">free lunch</option>
            <option value="divers">diversity</option>
            <option value='food'>food</option>
            <option value='perk'>perks</option>
            <option value='rais'>raise</option>
            <option value='vacat'>vacation</option>
            <option value='health'>health insurance</option>
            <option value='ice cream'>ice cream</option>
            <option value='sign bonus'>sign-up bonus</option>
            <option value='stock option'>stock option</option>
            <option value='incent'>incentives</option>
            <option value='student loan pay'>student loan pay off</option>
            <option value='surf'>surf</option>
            <option value='stress'>stress</option>
            <option value='work home'>work from home</option>
            <option value='work environ'>working environment</option>
            <option value='pay'>pay</option>
        </select>
        </div>
        </div>
        <p> Pick the keywords you would like for this company, these will be used in grouping your company with others that share similar tendencies for those keywords picked: </p>
        <div class="row mb-3">
          <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
              <dd id="rr-element">
                <span class="checkboxtext">
            <input type='checkbox'   name='features' value='balanc'} /> work life balance <br />

            <!-- <input type='checkbox' name='features' value='benefit'} />benefits <br /> -->
            <input type='checkbox' name='features' value='yoga'} />     yoga <br />
            <input type='checkbox' name='features' value='discount'} />    discounts <br />
            <input type='checkbox' name='features' value='free coff'} />    free coffee<br /> 
            <input type='checkbox' name='features' value='free lunch'} />    free lunch<br /> 
            <input type='checkbox' name='features' value='divers'} />    diversity<br />
            <input type='checkbox' name='features' value='food'} />    food<br />
            <input type='checkbox' name='features' value='gym'} />    gym<br /> 
            <input type='checkbox' name='features' value='perk'} />    perks<br />
            <input type='checkbox' name='features' value='rais'} />    raise<br />
             <input type='checkbox' name='features' value='vacat'} />    vacation<br /> 
             <input type='checkbox' name='features' value='health'} />    health<br />
             <input type='checkbox' name='features' value='ice cream'} />    ice cream<br />
             <input type='checkbox' name='features' value='sign bonus'} />    sign-up bonus<br />
             <input type='checkbox' name='features' value='stock option'} />    stock option<br />
             <input type='checkbox' name='features' value='student loan pay'} />    student loan payoff<br />
             <input type='checkbox' name='features' value='surf'} />    surf<br />
            <input type='checkbox' name='features' value='incent'} />    incentive<br /> 
            <input type='checkbox' name='features' value='stress'} />    stress<br />
            <input type='checkbox' name='features' value='work home'} />    work from home<br />
            <input type='checkbox' name='features' value='work environ'} />    working environment<br /> 
          <input type='checkbox' name='features' value='pay'} />    pay<br />

            </dd>
          </div>
          </div>
          </div>
        </span>
        <p>The company you select will be contrasted to companies that share similarities for all categories we will be comparing, we will refer these as companies within the same cluster, or group.</p>
        <div class="col-sm-10 offset-sm-3"> 
            <input type="submit">
        </div>
          </form>
          </body>
          </div>
 </html>


